body{
    font-family: Arial, sans-serif;
}

.menu{
    display: flex;
    padding: 0;
    list-style: none;
}

.menu li{
    padding: 8px 16px;   
}

.menu li:hover{
    background-color: #DDD;
}

.has-submenu{
    position: relative;
}

.has-submenu:hover .submenu{
    display: block;
}

.submenu{
    list-style: none;
    padding: 0px;
    position: absolute;
    display: none;
    left: 0px;
    top: 100%;
}

a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

